<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <div class="user-section">
                    <div class="user-section-inner">
                        <img src="assets/img/user.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div>Bike <strong>Admin</strong></div>
                        <div class="user-text-online">
                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                        </div>
                    </div>
                </div>
            </li>
            <li class="sidebar-search">

            </li>
            <li class="selected">
                <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a href="/admin/view-users"><i class="fa fa-table fa-fw"></i>Users</a>
            </li>
            <li>
                <a href="/admin/view-staffs"><i class="fa fa-table fa-fw"></i>Staff</a>
            </li>
            <li>
                <a href="/admin/view-workshops"><i class="fa fa-table fa-fw"></i>Workshops</a>
            </li>
            <li>
                <a href="/admin/view-reviews"><i class="fa fa-table fa-fw"></i>Reviews</a>
            </li>


        </ul>
    </div>
</nav>